@font-face {
    font-family: Vazir;
    src: url('./node_modules/vazir-font/dist/Vazir-Black.eot');
    src: url('./node_modules/vazir-font/dist/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('./node_modules/vazir-font/dist/Vazir-Regular.woff2') format('woff2'),
         url('./node_modules/vazir-font/dist/Vazir-Regular.woff') format('woff'),
         url('./node_modules/vazir-font/dist/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./node_modules/vazir-font/dist/Vazir-Bold.eot');
    src: url('./node_modules/vazir-font/dist/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('./node_modules/vazir-font/dist/Vazir-Bold.woff2') format('woff2'),
         url('./node_modules/vazir-font/dist/Vazir-Bold.woff') format('woff'),
         url('./node_modules/vazir-font/dist/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./node_modules/vazir-font/dist/Vazir-Black.eot');
    src: url('./node_modules/vazir-font/dist/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('./node_modules/vazir-font/dist/Vazir-Black.woff2') format('woff2'),
         url('./node_modules/vazir-font/dist/Vazir-Black.woff') format('woff'),
         url('./node_modules/vazir-font/dist/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./node_modules/vazir-font/dist/Vazir-Medium.eot');
    src: url('./node_modules/vazir-font/dist/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('./node_modules/vazir-font/dist/Vazir-Medium.woff2') format('woff2'),
         url('./node_modules/vazir-font/dist/Vazir-Medium.woff') format('woff'),
         url('./node_modules/vazir-font/dist/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./node_modules/vazir-font/dist/vazir-font/Vazir-Light.eot');
    src: url('./node_modules/vazir-font/dist/vazir-font/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('./node_modules/vazir-font/dist/vazir-font/Vazir-Light.woff2') format('woff2'),
         url('./node_modules/vazir-font/dist/vazir-font/Vazir-Light.woff') format('woff'),
         url('./node_modules/vazir-font/dist/vazir-font/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./node_modules/vazir-font/dist/Vazir-Thin.eot');
    src: url('./node_modules/vazir-font/dist/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('./node_modules/vazir-font/dist/Vazir-Thin.woff2') format('woff2'),
         url('./node_modules/vazir-font/dist/Vazir-Thin.woff') format('woff'),
         url('./node_modules/vazir-font/dist/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

*{
    margin: 0;
    outline: none;
}

body{
    font-family: 'vazir';
    position: relative;
}


header{
    width: 100%;
}


#menuicon{
    width: 100%;
    height: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#menuicon #bars{
    font-size: 1.5rem;
}

#menuicon #logo{
   display: flex;
   align-items: center; 
   flex-direction: row-reverse;
}

#menuicon #logo i{
    margin-right: .3rem;
    font-size: 2rem;
}

#menuicon #logo h6{
    margin-bottom: 0;
    font-weight: 900;
    margin-top: 0.5rem;
    color: blueviolet;
}

#menuicon #iconsbox{
    
}

#menuicon #iconsbox .icons{
    text-decoration: none;
    color:blueviolet;
    font-size: 1.3rem;
}

#input{
    margin: 1rem auto;
    width: 60%;
    position: relative;
}

#input input{
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: .3rem 1.5rem;
    background-color: #eee;
}

#input i{
    position: absolute;
    top: 30%;
    right: 2%;
    color: #777;
}

#header-part-two{
    width: 80%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100%;
    transition: all .3s ease;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0 #999;
}

#header-part-two.show{
    right: 0;
}

#header-part-two nav{
    width: 100%;
    height: 100%;
    
}



#header-part-two nav ul{
    display: block;
    padding: 1rem;
}

#header-part-two nav ul li{
    list-style: none;
    line-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header-part-two nav ul li a{
    text-decoration: none;
    color: #000;
    margin-right: 1rem;
}

#header-part-two nav ul li i{
    color: blueviolet;
}

@media(min-width:768px){

    
    #menuicon #bars{
        display: none;
    }

    #header-part-two{
        position: relative;
        display: flex;
        width: 100%;
        height: 3rem;
        right: 0; 
        box-shadow: none;
        background-color: transparent;  
    }
    #header-part-two nav ul{
        display: flex;
    }

    #header-part-two nav ul li{
        padding-right: 1.5rem;
    }

    #header-part-two nav ul li a{
        margin-right: 5px;
        
    }

    #input{
        margin: 0;
        width: 50%;
    }

    #input input{
        padding: 0.5rem 2rem;
    }

    #menuicon #iconsbox .icons{
        font-size: 1.5rem;
        margin-right: 0.5rem;

    }

}


